<center><br><br>

	Thank you for your order. If you have any questions please contact us at Contact@Akimono.com. Orders of machines will be shipped by Fedex ground, accessories are shipped by USPS. Most orders arrive within 5-7 business days, but delays may happen after new shipments arrive or during the holiday season. All machines will be tested for functionality before shipping which may also cause a delay if any problems arise. <br><br>

	Also consider adding some accessories to your order:

	<div id="products">
<%= render @products %>
</div>




</center>