<table><tr><td width="500"><center>
<b> Frequently Asked Questions</b><br><br>
<b> How much is shipping for machines?</b>
<br> Shipping is $89.95 per machine to anywhere in the continental us (excludes Hawaii, Alaska, Puerto Rico, Etc..)<br>
<br><b>Can you ship a machine to a country that is not in the United States?</b> <br>
   -Yes, we ship internationally. If you are interested  contact us at contact@akimono.com for a quote.<br>
<br>
<b>Do you accept any form of payment other than google checkout?</b><br>
-Yes, we can take paypal, cashier's checks, cash, and just about anything else of value. If you want to pay in a form other than google checkout contact us to set up a payment. <br>
<br>
<b>I'm interested in one of your machines, but I'm worried about spending so much without seeing what I'm purchasing. Can you send me pics?<br></b>
-Please feel to contact us to get more information or pictures for a machine or item! If you want to see it in person contact us at contact@akimono.com to set up an appointment to come to our office in Mahwah, NJ.<br>
<br>
<b>I really want to make a purchase, but I'm on a tight budget - can you help me out a bit?</b><br>
-Well we are proud to be a flexible company, so if you let us know what you have we can try and work with you. We have some money saving options available like at site pickup and dropping some extras. And although we only sell the highest quality machines sometimes we get one that is not up to our standards, but is still in fine working order.<br> 
<br>
<b>There's a pachinko machine (or other item) in Japan right now that I really want for my collection, can you get it for me?</b><br>
-We can look into importing just about any items you want straight from Japan. Just let us know what it is and give us a description and we will look into it. Go to our contact page for more information or a quote.<br>
<br>
<b>One of your competitors told me that you might be selling ball bearings and marketing them as pachinko balls - is that true?</b><br>
-Of course its not true! All of our balls are from Japan and many have been especially engraved with the names of the parlors they came from. Not only is the false information but it doesn't make any sense because the price of having ball bearings made to the proper specifications for use in pachinko machines is more than it costs to bring them from Japan.<br>
<br>
<b>What is your shipping policy?</b><br>
-Large packages are shipped via Fedex. Small and heavy packages are sent using USPS. Most packages go out in under 2-3 days depending on what is ordered.<br> 
<br>
</center>
</td></table>