<center> <b> Pachinko Manual </b> <br><br>
<table> 
	<tr> <td><%= image_tag "pachinko1.gif", :width => "400" %> </td> <td> 1) Main Pocket, Sub-Main Gate (varies), Jackpot Pocket (varies) <br> 2) Sub Roulette Pocket <br> 3) Side Pockets <br> 4) Front Tray <br> 5) Chance Button <br> 6) Overflow Tray <br> 7) Joystick (varies) <br> 8) Add Credit / Use Credit buttons <br> 9) Shooter Knob <br> 10) Door Key </td>
	<tr><td> 11) Win Hopper <br> 12) Battle Counter Connectors (varies) <br> 13) Win Chute / Ball Release Valve <br> 14) Volume Controls (varies) <br> 15) On/Off Switch (varies) <br> 16) Error Code LEDs (varies) <br> 17) Ball Return Chute (underneath) <br> 18) Transformer </td> <td> <%= image_tag "pachinko2.gif", :width => "400" %> </td>
</table>
<br> <br>
<table>
	<tr><td width="500">
<b> How to play </b><br>
Plug the machine in and turn the On/Off Switch (15) to on. The machine will go through a start up check where the animatronics and speakers will be activated.Fill up the Win Hopper (11) with balls, it should hold approximately 300-500 in total. Also make sure you put a tray or other method of collecting balls under the Ball Return Chute (17) to collect balls that have been shot into the play field. Fill the Front Tray (4) with balls you will use to play with.<br><br> Shoot balls into the play field by turning the Shooter Knob (9) clockwise. The further you turn it the further balls will shoot. If your machine has a metal band around the shooter knob make sure you are touching it with your bare fingers or the machine will not shoot. Aim balls to enter the Main Pocket (1). Any balls entering the Side Pockets (3) will also pay off balls. <br> <br>
<b> Winning </b><br>
Every ball that enters the Main Pocket or Sub-Main Pocket (1) will win a few balls and a chance to win a Jackpot and enter Fever Mode by getting three of the same number in a row. In Fever mode the Jackpot Pocket (1) will open for a set number of rounds and balls will be paid out for each ball entering. <br><br> On most machines after finishing Fever Mode you will either enter Kakuhen mode (usually red numbers or special numbers like 7) where the odds of winning again are usually increased by a factor of ten or Jitan mode (any other number) in which you are given 100 easy spins at normal odds. During both Kakuhen and Jitan mode the petals protecting the Sub-Main pocket will open allowing for more balls to enter. If you win more balls than can fit in the Front Tray (4) they will automatcially fall into the Overflow Tray (6) which you can press or turn the release button/slider to empty the balls below into a tray. This is the standard configuration for most machines, but it does vary between machines and is not standard. <br><br>
<b> Other Things</b><br>
Most machines are equipped with a Chance Button (5) which is used during game play to show extra sound clips, interact with the machine and play mini games. The Joystick (7) is also used for this, but is only on select machines. The Add Credit / Use Credit buttons (8) are normally disabled and can only be used with a card reader emulator which can be purchased separately. If installed the volume may be adjusted by turning one or more of the Volume Controls (14). A battle counter may be installed directly to the Battle Counter Connectors (12) installation depends on the brand of counter and specific machine. The Sub Roulette Gate (2) gives you a random chance at opening the petals around the Sub-Main Pocket (1) for a very brief amount of time. <br><br></table>
<b> Troubleshooting</b><br></td>
<table width='500'>
	<tr> <td width='100'> The machine does not make sound </td><td> Make sure that the volume is not turned down too low and that balls are entering the Main Pocket (1). No sound is made unless a ball is in the center pocket. </td>
	<tr>
	<td width='100'> The machine won't pay out</td> <td> Make sure that there are balls in the Win Hopper (11) and nothing is blocking the Win Chute (13). The machine will also not pay out if the Overflow Tray (6) is full and cannot accept any more balls. </td>
	<tr> <td width='100'> The machine does not shoot balls </td> <td> Make sure the CR dongle is attached to the back of the machine and that you are touching the metal ring on the Shooter Knob (9). Another problem might be that the Shooter Knob is not being turned far enough and that balls are not clearing the intial ramp into the pay field. </td>
</table>







</center>