<center> <b> Pachislo Manual </b>
<table>
	<tr> <td><%= image_tag "slot1.gif", :width => "400" %> </td> <td> 1) Credit Return Button <br> 2) Bet 1 Button <br> 3) Start Knob <br> 4) Max Bet Button<br> 5) Stop Buttons <br> 6) Token Release Button <br> 7) Token Acceptor <br> 8) External Key Slot </td>
	<tr> <td> 9) Difficulty Button <br> 10) Volume Controls (position and number vary)</td> <td><%= image_tag "slot2.gif", :width => "400" %> </td>
	<tr> <td> <%= image_tag "slot3.gif", :width => "400" %></td> <td> 11) Reels <br> 12) Transformer <br> 13) Hopper <br> 14) Power Box </td>
	<tr> <td> 15) Internal Key Slot <br> 16) On/Off Switch (varies) </td> <td> <%= image_tag "slot4.gif", :width => "400" %></td> 
</table>
<br><br>
<table width="500">
	<tr><td>
<b> How To play</b><br>
Place tokens in one at a time into the Token Acceptor (7). You can release jammed tokens using the Token Release Button (6) and release left over credits using the Credit Return Button (1). Use token credits by hitting either the Bet 1 Button (2) or the Max Bet Button (4). Three credits must be used at a time which is the Max Bet. To start the Reels (11) push down the Start Knob (3). Push each Stop Button (5) to stop the corresponding reel. Payouts are listed on each machine. Most machines have a Big Bonus and a Regular Bonus which pay out different amounts during the bonus rounds which are unlocked after getting a certain reel combination (usually 777). Volume can be adjusted by turning the Volume Controls (10). 
<br><br>
<b> Soft Reset</b><br>
The machine can be reset quickly by turning the external key (8) to the left. This will clear simple errors and let the machine be played after a jackpot. 
<br> <br>
<b> Hard Reset and Changing Difficulty</b><br>
The most machines have six difficulty settings with 1 being the hardest and 6 being the easiest. To change the difficulty or to do a hard reset which will clear errors not cleared by doing a soft reset follow these instuctions: Turn the machine off using the On/Off switch (16). Turn the internal key to the On position (15). Turn the machine on. The machine will now be in set up mode and the difficulty can be changed. To change the difficulty push the Difficulty Button (9) until the desired difficulty setting is reached. The difficulty should show on the front of the machine's LCD display. To set the difficulty push down the Start Knob (3) for one second. The machine then can be returned to normal play mode by switching the internal key back to the off position. This will complete the hard reset and the machine should now be free to be played.</td>
</table>
</center>