<div class="show"><center>
<b><br><br>
We Buy Amusement Machines!
</b><br>
<br>
Have a Pachinko, Pachislo, Pinball, Arcade, Coin Pusher or something else you want to turn into cash? Well we are always looking for new inventory to keep in stock so if it works and you want to turn it in just <%= link_to "contact us", contact_path %>. Please include information on what you are looking to sell including name, manufacturer, any flaws cosmetic or functional issues. 
</center>
</div>