<div class="show"><center>
<b><br><br>
Our checkout system is integrated using PayPal for safe checkout. If you would rather pay another way we also take checks, money orders, domestic/international wires or just about anything else of value. 
</b>
</center>
</div>