<div class="show"><center>
<b><br><br>
Prefer to pay with something other than Google Checkout? Well that's fine with us! Along with accepting PayPal we also accept cash, money orders, personal checks, international/domestic wires and just about anything of value. To set up 
another form of payment email us at Contact@akimono.com. 
</b>
</center>
</div>