<!DOCTYPE html>
<html>
<body>
gmail message here
<%= @contactors.contactorname %>
 <%= @contactors.contactorbody %>

<%= @contactors.contactorsubject %>

<%= @contactors.contactoremail %>

</body>
</html>