<!DOCTYPE html>
<html>
<body>

<%= @contactor.contactoremail %><br>
<%= @contactor.contactorname %><br>
<%= @contactor.contactorsubject %><br>
<%= @contactor.contactorbody %><br>

</body>
</html>